.vscode/**
.vscode-test/**
node_modules/**
src/**
scripts/**
test/**
dist/**
.gitignore
tsconfig.json
biome.json
package-lock.json
*.vsix
**/*.d.ts
**/*.d.ts.map
**/*.js.map
out/**/*.wasm
wasm/.gitignore
wasm/LICENSE
wasm/README.md
wasm/package.json
wasm/*.d.ts
wasm/*.wasm.d.ts
