.vscode/**
.vscode-test/**
node_modules/**
src/**
scripts/**
test/**
.gitignore
tsconfig.json
*.vsix
out/*.d.ts
out/*.d.ts.map
out/*.js.map
wasm/LICENSE
wasm/README.md
wasm/package.json
wasm/*.d.ts
wasm/*.wasm.d.ts
