# Rust
target/
Cargo.lock

# Python
__pycache__/
*.pyc
dist/
*.whl
*.egg-info/

# Node
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.so
uv.lock
documentation/
crates/nqql/index.linux-x64-gnu.node
crates/nqql/index.d.ts
crates/nqql/package-lock.json
qdrant_storage